:root {
  --color-primary: #EAECFD;
}



.container-main {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 40px;
}

.container-videos {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 7px;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

.video {
  --background-color: #e08888;
  width: fit-content;
  padding-bottom: 10px;
  border-radius: 10px;
  --box-shadow: 0 1px 15px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.Categ {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.Hline {
  height: fit-content;
  width: fit-content;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 22px 7px 22px;
  font-size: 15px;
  font-weight: 600;
  color: rgba(30, 30, 30,);
  border-radius: 3px;
  border: 1px solid rgba(82, 82, 82, 0.5);
}

.title {
  --color: #fff;
  --background-color: #34353a;
  height: fit-content;
  width: fit-content;
  --border-top-right-radius: 10px;
  --border-bottom-right-radius: 10px;
  --padding: 2px 10px;
  margin-top: 5px;
}

.video h4 {
  margin-top: 2px;
  font-size: 14px;
}

.button-group {
  margin-top: 40px;
  height: fit-content;
  width: fit-content;
  color: white;
  background-color: #fff;
  padding: 2px 20px 2px 20px;
  font-size: 30px;
  font-weight: 800;
  color: rgb(30, 30, 30);
  border-radius: 10px;
}

.container-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Radio Selection */

.radio-select {
  position: relative;
  height: 40px;
  width: 100px;
  margin: 0.5rem;
}

.radio-select input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.radio-select .radio-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  --border: 2px solid #000000;
  border-radius: 12px;
  transition: all 0.3s ease;
  background-color: #ccdfe7;
}

.radio-select label {
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input:checked + .radio-title {
  background-color: #15333a;

}

input:checked + .radio-title label {
  color: white;
}



/* Responsive Design*/
@media(max-width: 1200px) {

}