@import "@vidstack/react/player/styles/default/theme.css";
@import "@vidstack/react/player/styles/default/layouts/audio.css";
@import "@vidstack/react/player/styles/default/layouts/video.css";

.player[data-view-type="audio"] .vds-poster {
  display: none;
}

.player[data-view-type="video"] {
  aspect-ratio: 16 /9;
  min-width: 350px;
  max-width: 420px;
}

.player .vds-controls {
  height: 100%;
  width: 100%;
  --transform: scale(0.5); /* Passt die Größe der Steuerelemente an */
}

.src-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-inline: auto;
  max-width: 300px;
}
